<div class="container">
	<div class="panel panel-info" ng-controller="DetailCtrl" style="margin-top: 50px;">
	    <div class="panel-heading">
	        <h3 class="panel-title">Order Detail</h3>
	    </div>
	    <div>
	        <table class="table">
	            <tr>
	            	<td>Order Number</td>
	            	<td>Product Code</td>
	                <td>Product Name</td>
	                <td>Product Description</td>
	                <td>Quantity</td>
	                <td>Price</td>
	            </tr>
	            <tr ng-repeat="orderDetail in orderDetails">
	                <td> {{orderDetail.orderNumber}}</td>
	                <td> {{orderDetail.productCode}}</td>
	                <td> {{orderDetail.productName}}</td>
	                <td> {{orderDetail.productDescription}}</td>
	                <td> {{orderDetail.quantity}}</td>
	                <td> {{orderDetail.price}}</td>
	            </tr>   
	        </table>
	    </div>
	</div>
	<a  href='/OrderSystem/#/'>
		Back to Search
	</a>
</div>